<div
  class="hero min-h-screen "
  style="background-image: url(https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2019/05/rick-morty-temporada-4-llegara-noviembre.jpg?tf=1200x);">
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Rick And Morty App</h1>
      <p class="mb-5">
        Poniendo en practica los conocimientos adquieridos hasta el momento de angular.
      </p>
      <button [routerLink]="['/rick-and-morty']"  class="btn btn-primary">Iniciar</button>
    </div>
  </div>
</div>
